
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
nav{
    display: flex;
    background-color:#1c2833;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 80px;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0px 8px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
    color: white;
    padding: 7px 13px;
    transition: 0.5s;
    border-radius: 3px;
    text-transform: uppercase;

}
nav ul li a:hover, nav ul li a.active{
    background-color: #566573;
}
.menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
/* header section code start here */
header{
    background-image: url('image/banner.jpg');
    height:90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* first section code start here */
.first-section{
    background-color: #16213e;
    padding-bottom: 100px;
}
.service-tittle{
    text-align: center;
    color: white;
    padding: 50px 0px;
    letter-spacing: 0.2rem;
    font-size: 28px;
}
.service-parent{
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0px 10px;
}
.single-service{
    background-color: white;
    text-align: center;
    color: black;
    padding: 30px 20px;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 5px 5px 10px gray;
}
.single-service i{
    font-size: 40px;
}
.single-service h2{
    margin: 10px 0px;
    font-weight: bold;
}
/* second-section of main tag code start here */
.second-section{
    background-color: #1b4f72;
    padding: 50px 0px 100px 0px;
}
.smart-tittle{
    text-align: center;
    color: yellow;
    font-size: 35px;
    letter-spacing: 0.2em;
    margin-bottom:30px;
}
.smart-parent{
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smart-parent > *{
    flex-basis: 100%;
}
.smart-image-div{
   
}
.smart-image-div img{
    width: 100%;
}
.smart-text{
    color: white;
    
}
.smart-parent h4{
    text-transform: uppercase;
}
.smart-text h2{
    margin: 20px 0px;
    font-size: 30px;
}
.smart-text p{
    line-height: 25px;
}
.smart-text a{
    display: inline-block;
    text-decoration: none;
    background-color: bisque;
    color: black;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 40px;
    letter-spacing:4px;
}
/* third section code start here */
.third-section{
    background-image: url('image/images\ \(6\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 100px 0px;
}
.about-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0px 100px;
    gap:40px;
}
.about-vanila h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.about-vanila ul {
    margin: 20px 0px;
}
.about-vanila a{
    text-decoration: none;
    font-size: 18px;
    background-color: yellow;
    padding: 10px 30px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
    color: black;
}
.about-single-iteam-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:25px;
}
.about-single-iteam{
    background-color: #eaeccc;
    padding: 40px 20px;
    color: black;
    text-align: center;
    border: 2px solid limegreen;
}
.about-single-iteam h4{
    font-size: 20px;
    padding: 10px 0px 20px 0px;
}








/* Responsive work start here */
@media only screen and (max-width:940px){
    .menu-btn{
        display: block;
    }
    nav ul{
        position: fixed;
        top:80px;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #17202a;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: all 0.5s ease;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";

    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin:20px 0px;
    }
    nav ul li a{
        font-size:18px;
    }
    nav ul li a:hover, nav ul li a.active{
        background: none;
        color: red;
    }
}
    /* first section responsive start here */
    
     @media only screen and (max-width:688px){
        .service-parent{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            width: 100%;
        }   
        header{
            height: 60vh;
        }  

    .smart-parent{
            display:block;
            justify-content: space-between;
            align-items: center;
       }    
    .smart-text{
        color: white;
        margin-top: 20px;
    }
    .smart-text h4{
       
    }
    .smart-text h2{
        font-size:25px;
    }
    .smart-text p{
        font-size:20px;
    }
   .second-section{
    background-color: #1b4f72;
    padding: 50px 0px 50px 0px;
   }
   .about-parent{
    display: block;
    margin-left: 30px;
    margin-right: 30px;
   }
   .about-single-iteam-parent{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:15px;
    margin-top: 50px;
}

        
}

@media only screen and (min-width:689px) and (max-width:1099px){
        .service-parent{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            width: 100%;
        }
         .smart-parent{
            display:block;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
       }    
         .smart-text{
        color: white;
        margin-top: 20px;
       }
        .smart-text h2{
            font-size:30px;
        }
      .about-parent{
        display: block;
        margin-left:70px;
        margin-right: 70px;
   }
    .about-single-iteam-parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:20px;
        margin-top: 50px;
}
        
    }